@model TransportCompany.Models.CarViewModel
@{
    ViewBag.Title = "Edit " + Model.Car.RegistrationNr;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Car"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.Car.RegistrationNr)

    <div class="form-group">
        @Html.LabelFor(m => m.Car.Model, "Car model:")
        @Html.EditorFor(m => m.Car.Model, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Car.Model, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Car.Volume, "Volume (in liters):")
        @Html.EditorFor(m => m.Car.Volume, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Car.Volume, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DriverId, "Designated driver:")
        @Html.DropDownListFor(m => m.DriverId, new SelectList(Model.ListDrivers, "Value", "Text"), "Choose a driver", new { @class = "form - control" })
        @Html.ValidationMessageFor(m => m.DriverId, "", new { @class = "text-danger" })
    </div>

    <button class="btn btn-primary" type="submit">Update</button>
}
