@model TransportCompany.Models.Package
@{
    ViewBag.Title = "Details";
    ViewBag.Admin = User.IsInRole("Admin");
}

<h2>Package ID: @Model.PackageId</h2>

@Html.LabelFor(m => m.ToCity.Name, labelText: "City of destination")
<br />
<p>@Model.ToCity.Name</p>

@Html.LabelFor(m => m.Volume, labelText: "Volume")
<br />
<p>@Model.Volume</p>

@Html.LabelFor(m => m.Weight, labelText: "Weight")
<br />
<p>@Model.Weight</p>

@if (ViewBag.Admin)
{
    using (Html.BeginForm(actionName: "Edit", controllerName: "Package", method: FormMethod.Get, routeValues:
        new { id = Model.PackageId }))
    {
        <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
    }
}


@using (Html.BeginForm(actionName: "Delete", controllerName: "Package", routeValues:
new { id = Model.PackageId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-danger col-lg-1" type="submit">Delete</button>
}

<br />
