@{
	ViewBag.Title = "All Users";
}
<h2>@ViewBag.Title</h2>
<table class="table">
	<thead>
		<th>Username</th>
		<th>Email</th>
		<th>Role</th>
		<th>Update</th>
		<th>Details</th>
		<th>Delete</th>
	</thead>

	<tbody>
		@foreach (TransportCompany.Models.UserViewModel uvm in ViewBag.UsersList)
		{
			<tr>
				<td>@uvm.User.UserName</td>
				<td>@uvm.User.Email</td>
				<td>@uvm.RoleName</td>
				<td>@Html.ActionLink("Update", "Edit", new { id = uvm.User.Id })</td>
				<td>@Html.ActionLink("View details", "Details", new { id = uvm.User.Id })</td>
				<td>@using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues:
						new { id = uvm.User.Id }))
					{
						@Html.HttpMethodOverride(HttpVerbs.Delete)
						<button class="btn btn-sm btn-danger" type="submit">Delete</button>
					}
				</td>
			</tr>
		}
	</tbody>
</table>